<div class="container-fluid">

  <!-- Navbar directive -->
  <main-navbar></main-navbar>
  
  <!-- Jumbotron -->
  <div class="jumbotron text-center">
    <h1>Ng-Logged</h1>
      <h3>A simplistic approach to user authentication and current user implementation using <strong>AngularJs</strong>.</h3>
        <br>
        <p> 
          <strong class="log-debug-alert">$log.debug</strong> will display sensitive user data when enabled in <strong>index.config.js</strong>.
        </p>
    </div>
</div>